*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgb(240, 240, 240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    nav{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 600px;
            a{
                color: black;
                text-decoration: none;
            }
            li{
                cursor: pointer;
                
              
            }
        }
        .icons{
            display: flex;
            gap: 30px;
            i{
                cursor: pointer;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    background-color: rgba(128, 128, 128, 0.096);
                    
                    color: greenyellow;
                }
            }
        }

    }
}
section{
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto;
    padding-top: 50px   ;
    position: relative;
    .fa-spinner{
        font-size: 100px;
        animation: mymove 1.5s infinite;
        position: absolute;
        margin-top: 1000px;
    }
    @keyframes mymove {
        100% {transform: rotate(180deg);}
      }
    .close{
    width: 99vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.466);
    z-index: 1;
    display: none;
    top: 0;
    left: 0;
    cursor: pointer;
    }
    .aside-wishlist{
       
       
        height: 100vh;
        background-color: rgb(94, 94, 94);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 12;
        overflow: hidden;
       
        i{
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 25px;
            color: white;
            cursor: pointer;
        }
    }
    .total-price{
        position: fixed;
        bottom: 0px;
        right: 0px;
        display: none;
        padding: 10px;
        width: 600px;
     
        font-size: 22px;
        z-index: 20;
        color: black;
        background-color: rgb(131, 185, 49);
    }
    .aside-basket{
        height: 100vh;
        background-color: rgb(68, 68, 68);
        display: none;
        position: fixed;
        top: 0;
        width: 0;
        right: 0;
        z-index: 12;
        overflow: scroll;
        display: grid;
        grid-template-columns: auto auto auto;
        
       
        .remove{
            width: 60px;
        }
        
        ul{
            
            display: flex;
            place-items: center;
            gap: 10px;
            padding: 10px;
            flex-direction: column;
            width: 120px;
            height: 250px;
            background-color: rgb(107, 153, 39);
            border-radius: 10px;
           
          
            div{
                display: flex;
                flex-direction: column;
                gap: 5px;
               
                button{
                  
                    width: 15px;
                    height: 15px;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 3px;
                    cursor: pointer;
                   
                    &:hover{
                        scale: 1.1;
                        background-color: rgb(216, 216, 216);
                        
                    }
                    

                }
            }
            
            img{
                width: 50%;
                height: 30%;
                border-radius: 5px;
            }
        
        }
      
       
       
        i{
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 25px;
            color: white;
            cursor: pointer;
        }

    }
   
    ul{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px;
        width: 400px;
        height: 450px;
        position: relative;
        border-radius: 10px;
        &:hover > .buttons {
            height: 60px;
        }
        .buttons{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background-color: rgba(128, 128, 128, 0.199);
            position: absolute;
            bottom: 0;
            transition: 300ms;
          
            height: 0;
            overflow: hidden;
            a{
                color: black;
            }
           
            button{
                width: 40px;
                cursor: pointer;
            height: 40px;
            border: none;
            background-color: rgba(172, 255, 47, 0.363);
            border-radius: 100%;
            transition: 300ms;
            &:hover{
                background-color: darkgreen;
                color: white;
            }
            }
        }
        img{
            width: 80%;
            height: 60%;

        }
    }
}
.active{
    width: 600px !important;
    padding: 20px;
   
}
.active2{
    display: block !important;
}


@media screen and (max-width: 1202px){
    section{
        grid-template-columns: auto auto auto
    }

}
@media screen and (max-width: 702px){
    section{
        grid-template-columns: auto auto 
    }

}

  
    .container{
    
        padding: 100px;
        width: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
        .info{
            display: flex;
            flex-direction: column;
            gap: 20px;
            span{
                font-weight: bold;
                margin-right: 10px;
                font-size: 18px;
            }
        }
        img{
            width: 500px;
            height: 500px;
           
        }
    }

